@model ProjectsMeasurements.Models.Operations.Plant

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Plant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantNameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantNameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantNameAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantNameAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryOfPlant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryOfPlant.CategoryNameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantFullCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantFullCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateUser.UserEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
