@model ProjectsMeasurements.Models.Operations.PlantsDetail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PlantsDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantHeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantHeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantTrunkWidth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantTrunkWidth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantDefaultPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantDefaultPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantHeightUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantHeightUnit.UnitNameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentPlant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentPlant.PlantCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateUser.UserEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
